<%= form_for [@owner, @building] do |b| %>

  <%= flash[:notice] if flash[:notice] %>
  <% if @building.errors.full_messages.count > 0 %>
  <ul>
    <% @building.errors.full_messages.each do |error| %>
      <li> <%= error %> </li> 
    <% end %>
  </ul>
  <% end %>

  <%= b.label :street_address %>
  <%= b.text_field :street_address %>
  <%= b.label :state %>
  <%= b.text_field :state %>
  <%= b.label :city %>
  <%= b.text_field :city %>
  <%= b.label :postal_code %>
  <%= b.text_field :postal_code %>
  <%= b.label :description %>
  <%= b.text_field :description %>
  <%= b.label :relationship %>
  <%= b.select(:relationship, [['Associate with building', true], ['Disassociate With Building', false]])%>
  <%= b.submit %>

<% end %>
